body{
  padding: 0;
  margin: 0;
}
.App{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #2a2730;
}
.logIn{
  width: 600px;
  height: 350px;
  border: 5px solid lightblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.logIn input{
  margin: 10px;
  width: 200px;
  height: 40px;
  border: 2px solid lightblue;
  background-color: transparent;
  padding-left: 10px;
  color: white;
  font-size: 15px;
}
.logIn input:focus{
  outline: none;
}
