body{
    padding: 0;
    margin: 0;
  }
.chatContainer{
  width: 600px;
  height: 350px;
  border: 2px solid rgb(189, 203, 208);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}
.chatContainer .messages{
    flex: 80%;
    width: 100%;

}
.chatContainer .messageInputs{
    flex: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.chatContainer .messageInputs input{
    flex: 80%;
    height:  calc(100% -5px);
    border: none;
    border-top: 5px  solid lightblue;
    font-size: 20px;
}
.chatContainer .messageInputs button{
    flex: 20%;
    height: 100%;
    background-color: rgb(120, 120, 214);
    color: white;
    font-size: 18px;
}
.messageIndividual{
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: grid;
    place-items: center;
    margin: 20px;
    margin-right: 10px;
    background-color: rgb(56, 130, 159);
    opacity: 0.9;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.messageContainer{
    display: flex;
    width: calc(100% - 30px);
}
.messageContainer h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 17px;
}
.send{
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgb(40, 134, 192);
    color: white;
    font-size: 15px;
  }
#You{
    justify-content: flex-start;
}xs
#Other{
    justify-content: flex-end;
}
#Other .messageIndividual{
    background-color: #5ff064;
    color: black;
}
