body{
  padding: 0;
  margin: 0;
}
.App{
  display: grid;
  place-items: center;
  height: 100vh;
  color: white;
  background-color: #043a04;
}
.App  h1{
  margin-bottom: -100px;
}
.logIn{
  width: 600px;
  height: 450px;
  font-family: monospace;
  border: 2px solid rgb(218, 226, 229);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.logIn input{
  margin: 10px;
  width: 200px;
  height: 40px;
  border: 2px solid rgb(190, 207, 212);
  background-color: transparent;
  padding-left: 10px;
  color: black;
  font-size: 15px;
}
.logIn input:focus{
  outline: none;
}
.logIn button{
  width: 100px;
  font-family: monospace;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #CD853F;
  color: white;
  font-size: 15px;
}
.logIn button:hover{
  font-family: monospace;
  cursor: pointer;
  background-color: blue;
}